<img src="idal-logo.png" align="right" style="float" width="400">
<font color="#CA3532"><h1 align="left">mIA3</h1></font>
<font color="#6E6E6E"><h2 align="left">Ejercicios Pandas. Series</h2></font> 

#### Juan Gómez-Sanchis

### Ejercicio 1.

Importa el módulo numpy como np,pandas como pd y las fuciones Series y DataFrame de Pandas.

In [1]:
import numpy as np

from pandas import Series,DataFrame
import pandas as pd

### Ejercicio 2. 

Crea una serie denominada obj que contenga los valores 4,8,10 y 24. Muestra la serie.

In [2]:
#Vamos a crear un a serie

obj = Series([4,8,10,24])

#La mostramos
obj

0     4
1     8
2    10
3    24
dtype: int64

### Ejercicio 3. 

Muestra los valores contenidos en la serie que has creado en el ejercicio anterior.

In [3]:
#Mostremos los valores de la serie con el método values
obj.values

array([ 4,  8, 10, 24])

### Ejercicio 4. 

Muestra los índices contenidos en la serie que has creado en el ejercicio anterior.

In [4]:
#Mostramos los indices en una lista
list(obj.index)

[0, 1, 2, 3]

### Ejercicio 5. 

Crea la serie ``ww2_cas`` cuyos valores son 8700000,4300000,3000000,2100000,400000 y los índices 'USSR','Germany','China','Japan','USA'.

In [5]:
#Creamos la serie con índices

#Muertes en la segunda guerra mundial
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])

#Mostramos
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

### Ejercicio 6. 

Muestra el valor del índice USA de la serie.

In [8]:
# Podemos utilizar los índices de la serie para invocar los valores de la misma
ww2_cas['USA']

400000

### Ejercicio 7.

Comprueba cuantos índices de la serie ``ww2_cas`` tienen un valor mayor de 4000000.

In [9]:
#Podemos indexar aquellas índices que cumplan una condición lógica

#Comprobamos que indices verifican que el número de muertes fue mayor de 4000000
ww2_cas[ww2_cas>4000000]

USSR       8700000
Germany    4300000
dtype: int64

### Ejercicio 8. 

Comprueba si el índice USSR está contenido en la serie ``ww2_cas``.

In [10]:
#Podemos emplear la función in  (como en los diccionarios) para ver si un índice está contenido

#Check if USSR is in Series
'USSR' in ww2_cas

True

### Ejercicio 9

Convierte la serie ``ww2_cas`` en un diccionario denominado ``ww2_dict``. Una pista, explora el método ``to_dict`` de una serie.

In [11]:
#Podemos convertir la serie a diccionario
ww2_dict = ww2_cas.to_dict()

#Mostramos
ww2_dict

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 400000}

### Ejercicio 10. 

Realiza la operación opuesta, convierte el diccionario ``ww2_dict`` a una nueva serie denominada  ``WW2_Serie``

In [13]:
# y de vuelta a una serie con la función Series
WW2_Series = Series(ww2_dict)

# Mostramos

WW2_Series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

### Ejercicio 11. 

Crea una serie denominada ``obj2`` a partir del diccionario ``ww2_dict`` cuyos índices vengan dados por  la lista,  ``countries`` = ['China','Germany','Japan','USA','USSR','Argentina']

In [16]:
#Creamos la lista
countries = ['China','Germany','Japan','USA','USSR','Argentina']

# y la serie...
obj2 = Series(ww2_dict,index=countries)

#Mostramos

obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

### Ejercicio 12. 

Encuentra los valores ``NaN`` de la serie ``obj2``
.

In [17]:
# Podemos encontrar los objetos null, NaN con la función isnull de pandas
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [18]:
#y lo opuesto....
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

### Ejercicio 13. 

Es posible sumar los valores de bajas en la WWII (es el valor de la serie que estamos trabajando) de la series ``WW2_Series``  y ``obj2``? Cómo lo harías?

In [19]:
#Recordemos que contenía cada serie WW2_Series
WW2_Series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [20]:
# y obj2
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [21]:
#Mira que pasa si los sumas
WW2_Series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

### Ejercicio 14. 

Proporcionale un nombre a la serie ``obj2``, en concreto "World War 2 Casualties". Pista, utiliza el método ``name``.

In [22]:
#Podemos modificar una propiedad de la serie, su nombre
obj2.name = "World War 2 Casualties"

#Lo mostramos

obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64

### Ejercicio 15. 

Otra cosa nueva, os pido un poco de imaginación y poder de extrapolación... Intenta añadir un nombre ('Countries') al índice de una serie. Pista, utiliza el atributo de la serie index.name

In [23]:
#Poniéndole nombre al índice de la serie
obj2.index.name = 'Countries'

#Mostramos
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64

### Vamos a por los dataframes!!!!