<img src="idal-logo.png" align="right" style="float" width="400">
<font color="#CA3532"><h1 align="left">mIA3</h1></font>
<font color="#6E6E6E"><h2 align="left">Ejercicios Pandas. Data Frames</h2></font> 



### Documentación de Pandas.  Si algo no te lo he explicado... Puedes buscar allí! ;)

Abre la web 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html' desde Jupyter  y tendrás acceso a toda la documentación de pandas.

#### Juan Gómez-Sanchis

In [1]:
#para cargar una web desde python
import webbrowser
website = 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html'
webbrowser.open(website)

True

### Ejercicio 0
Implementa el código para importar:
* La libreria ``numpy`` como ``np`` 
* Las funciones ``Series``y ``DataFrame``de ``Pandas``
* La libreria ``Pandas`` como ``pd``

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### Ejercicio 1. 

* Carga el fichero "NFL_jgx.csv" usando  la función ``read_csv`` de pandas y asignalo a una variable denominada ``data``. Cuidado con las opciones de importación (delimitador de dato, separador decimal y separador de millares).
* Renombra el fichero cargado como ``nfl_frame``.
* Muestra por pantalla el dataframe

In [75]:
data = pd.read_csv("NFL_jgx.csv", sep= ";", index_col= "Index ")
data.index.name = "Index"

In [16]:
data

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
Index,,,,,,,,,
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North
9,10,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West
10,11,Indianapolis Colts,502,441,7,0.532,1953,950,AFC South
11,12,Oakland Raiders,456,401,11,0.532,1960,868,AFC West
12,13,Pittsburgh Steelers,601,535,20,0.529,1933,"1,156",AFC North

### Ejercicio 2.  

Determina los nombres de las columnas del data frame utilizando un método del mismo.

In [9]:
data.columns

Index(['Index ', 'Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.',
       'First NFL Season', 'Total Games', 'Division'],
      dtype='object')

### Ejercicio 3. 

* Consigue un nuevo dataframe denominado ``df1``, empleando la función ``DataFrame`` de ``Pandas`` y su argumento ``Columns``   que contenga las columnas ``Team``, ``First Season`` y  ``Total Games`` del dataframe original ``nfl_frame``.

* Crea un dataframe idéntico a ``df1`` pero denominado ``df2``indexando las columnas directamente.

In [24]:
df1 = DataFrame(data, columns = ["Team", "First NFL Season", "Total Games"])

In [25]:
df1

                       Team  First NFL Season Total Games
Index
0            Dallas Cowboys              1960         866
1         Green Bay Packers              1921       1,320
2             Chicago Bears              1920       1,354
3            Miami Dolphins              1966         784
4      New England Patriots              1960         868
5           New York Giants              1925       1,289
6            Denver Broncos              1960         868
7         Minnesota Vikings              1961         854
8          Baltimore Ravens              1996         336
9       San Francisco 49ers              1950         986
10       Indianapolis Colts              1953         950
11          Oakland Raiders              1960         868
12      Pittsburgh Steelers              1933       1,156

## Ejercico 4. 

* Repite el ejercicio 3.1, llamando al resultsdso ``df3`` incluyendo una columna que no existe (por ejemplo ``Stadium``) en el dataframe original. ¿Qué ocurre?.

In [26]:
df3 = DataFrame(data, columns = ["Team", "First NFL Season", "Total Games", "Stadium"])

In [27]:
df3 #Como se puede ver, si añadimos una columna que no tiene salen todos nans

                       Team  First NFL Season Total Games  Stadium
Index
0            Dallas Cowboys              1960         866      NaN
1         Green Bay Packers              1921       1,320      NaN
2             Chicago Bears              1920       1,354      NaN
3            Miami Dolphins              1966         784      NaN
4      New England Patriots              1960         868      NaN
5           New York Giants              1925       1,289      NaN
6            Denver Broncos              1960         868      NaN
7         Minnesota Vikings              1961         854      NaN
8          Baltimore Ravens              1996         336      NaN
9       San Francisco 49ers              1950         986      NaN
10       Indianapolis Colts              1953         950      NaN
11          Oakland Raiders              1960         868      NaN
12      Pittsburgh Steelers              1933       1,156      NaN

### Ejercicio 5. 

* Consigue, de alguna de las maneras que hemos visto en la introducción teórica, acceder  a la serie contenida en la columna ``Team``. 

* Repite el ejercicio accediendo, de otra manera,  a los elementos de la columna ``Total Games``

In [49]:
df3.Team

Index
0           Dallas Cowboys
1        Green Bay Packers
2            Chicago Bears
3           Miami Dolphins
4     New England Patriots
5          New York Giants
6           Denver Broncos
7        Minnesota Vikings
8         Baltimore Ravens
9      San Francisco 49ers
10      Indianapolis Colts
11         Oakland Raiders
12     Pittsburgh Steelers
Name: Team, dtype: object

In [50]:
df3["Total Games"]

Index
0       866
1     1,320
2     1,354
3       784
4       868
5     1,289
6       868
7       854
8       336
9       986
10      950
11      868
12    1,156
Name: Total Games, dtype: object

### Ejercicio 6. 

Queremos acceder al contenido de todas las variables asociadas a la muestra ``Miami Dolphins``. Para ello utiliza dos estrategias:

* Emplea el método ``iloc`` del data frame ``nfl_frame`` para conseguir una serie  con los elementos del índice donde se encuentra la muestra Miami Dolphins.
* Consigue un nuevo data frame, a partir de indexar automáticamente  aquellas muestras donde la columna ``Team``tome el valor ``Miami Dolphins``

In [51]:
data.iloc[3]

Rank                             4
Team                Miami Dolphins
Won                            439
Lost                           341
Tied                             4
Pct.                         0.563
First NFL Season              1966
Total Games                    784
Division                  AFC East
Name: 3, dtype: object

In [54]:
data[data.Team == "Miami Dolphins"]

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
Index,,,,,,,,,
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East

### Ejercicio 7. 

* Añade un columna denominada ``Stadium`` que contenga el estadio de cada equipo. Pero que inicialmente estará inicializada con el string ``'Mestalla'``

* ¿Qué hariamos para inicializar la variable ``Stadium`` al valor ``NULL``?. Emplea una forma alternativa de indexado a la empleada en el ejercicio anterior

In [62]:
data["Stadium"] = "Mestalla"
data

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
Index,,,,,,,,,,
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,Mestalla
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,Mestalla
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,Mestalla
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,Mestalla
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,Mestalla
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East,Mestalla
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West,Mestalla
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North,Mestalla
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North,Mestalla
9,10,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West,Mestalla
10,11,Indianapolis Colts,502,441,7,0.532,1953,950,AFC South,Mestalla
11,12,Oakland Raiders,456,401,11,0.532,1960,868,AFC West,Mestalla
12,13,Pittsburgh Steelers,601,535,20,0.529,1933,"1,156",AFC North,Mestalla

In [64]:
data.Stadium = 'NULL'
data

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
Index,,,,,,,,,,
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,NULL
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,NULL
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,NULL
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,NULL
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,NULL
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East,NULL
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West,NULL
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North,NULL
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North,NULL
9,10,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West,NULL
10,11,Indianapolis Colts,502,441,7,0.532,1953,950,AFC South,NULL
11,12,Oakland Raiders,456,401,11,0.532,1960,868,AFC West,NULL
12,13,Pittsburgh Steelers,601,535,20,0.529,1933,"1,156",AFC North,NULL

## Ejercicio 8. 

* Modifica el contenido de la columna ``Stadium``, de manera que el primer equipo juegue en el estadio ``0`` y el último en el estadio ``12``. Puedes utilizar la función de numpy ``arange``.
* Muestra las variables del dataframe ``nfl_frame`` después de las modificaciones realizadas.

In [77]:
data.Stadium = np.arange(0, 13)
data

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
Index,,,,,,,,,
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North
9,10,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West
10,11,Indianapolis Colts,502,441,7,0.532,1953,950,AFC South
11,12,Oakland Raiders,456,401,11,0.532,1960,868,AFC West
12,13,Pittsburgh Steelers,601,535,20,0.529,1933,"1,156",AFC North

### Ejercicio 9. 

* Crea una serie  denominada ``stadiums`` compuesta por dos elementos "Mestalla" y "Wanda" y cuyos índices (nombre de las muestras) sean 0  y 4. 
* Asigna  a la columna ``Stadium`` el valor de la serie ``stadiums`` y comprueba que ha ocurrido.

In [67]:
stadiums = Series(["Mestalla", "Wanda"], index = [0, 4])

In [76]:
data.Stadium = stadiums #Los que no tienen valor se ponen con NaN y los que sí tienen pues se quedan con ese
data

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
Index,,,,,,,,,
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North
9,10,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West
10,11,Indianapolis Colts,502,441,7,0.532,1953,950,AFC South
11,12,Oakland Raiders,456,401,11,0.532,1960,868,AFC West
12,13,Pittsburgh Steelers,601,535,20,0.529,1933,"1,156",AFC North

### Ejercicio 10. 

* Elimina la columna ``stadium`` del dataframe nfl_frame.

In [69]:
data.pop("Stadium")
data

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
Index,,,,,,,,,
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North
9,10,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West
10,11,Indianapolis Colts,502,441,7,0.532,1953,950,AFC South
11,12,Oakland Raiders,456,401,11,0.532,1960,868,AFC West
12,13,Pittsburgh Steelers,601,535,20,0.529,1933,"1,156",AFC North

### Ejercicio 11.

Construye un dataframe,  a partir de un diccionario python con dos claves ('City' y 'Population') y una lista de 3 valores para cada clave (['SF','LA','NYC'] y [837000,3880000,8400000]). Para ello:

* Crea un diccionario de python denominado ``data`` con las especificaciones arriba indicadas.

* Emplea la función Dataframe para convertir el diccionario en un data frame denominado ``city_frame``.

In [70]:
data = {"City":['SF','LA','NYC'], "Population":[837000,3880000,8400000]}

In [73]:
city_frame = DataFrame(data)
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000

### Ejercicio 12.

* Visualiza las 5 primeras filas del dataframe ``nfl_frame``.

* Visualiza las 5 últimas filas del dataframe ``nfl_frame``.

In [78]:
data.head(5)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
Index,,,,,,,,,
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East

In [80]:
data.tail(5)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
Index,,,,,,,,,
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North
9,10,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West
10,11,Indianapolis Colts,502,441,7,0.532,1953,950,AFC South
11,12,Oakland Raiders,456,401,11,0.532,1960,868,AFC West
12,13,Pittsburgh Steelers,601,535,20,0.529,1933,"1,156",AFC North

### Ejercicio 13
Una de las formas más lógicas de crear un data frame es a partir de un diccionario de python. Cada variable de un data frame puede contener diferentes tipos de datos, como muestra el ejemplo a continuación.

* ¿Cuáles son los tipos de datos contenidos en el data frame de ejemplo ``df_N``
?

In [81]:
df_N= pd.DataFrame({'Reales': 1.,
                    'Series': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'Arrays 1D': np.array([9999] * 4, dtype='int32'),
                    'Fechas': pd.Timestamp('20200110'),
                    'Categoricas': pd.Categorical(["Validacion", "test", "test", "train"]),
                    'Strings':'España'})

df_N

   Reales  Series  Arrays 1D     Fechas Categoricas Strings
0     1.0     1.0       9999 2020-01-10  Validacion  España
1     1.0     1.0       9999 2020-01-10        test  España
2     1.0     1.0       9999 2020-01-10        test  España
3     1.0     1.0       9999 2020-01-10       train  España

In [83]:
df_N.dtypes

Reales                float64
Series                float32
Arrays 1D               int32
Fechas         datetime64[ns]
Categoricas          category
Strings                object
dtype: object

### Ejercicio 14

Ordena los elementos del data frame ``nfl_frame`` en orden descendente para conocer:

* ¿Qué equipo tiene el mayor número de victorias?
* ¿Qué equipo tiene el mayor número de derrotas?
* ¿Qué equipo tiene el mayor número de empates, (ordena ahora en orden descendente)?

In [85]:
data.sort_values("Won", ascending=False)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
Index,,,,,,,,,
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
12,13,Pittsburgh Steelers,601,535,20,0.529,1933,"1,156",AFC North
9,10,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West
10,11,Indianapolis Colts,502,441,7,0.532,1953,950,AFC South
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North
11,12,Oakland Raiders,456,401,11,0.532,1960,868,AFC West
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North

In [86]:
data.sort_values("Lost", ascending=False)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
Index,,,,,,,,,
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
12,13,Pittsburgh Steelers,601,535,20,0.529,1933,"1,156",AFC North
9,10,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West
10,11,Indianapolis Colts,502,441,7,0.532,1953,950,AFC South
11,12,Oakland Raiders,456,401,11,0.532,1960,868,AFC West
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North

In [87]:
data.sort_values("Tied", ascending=False)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
Index,,,,,,,,,
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
12,13,Pittsburgh Steelers,601,535,20,0.529,1933,"1,156",AFC North
9,10,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West
11,12,Oakland Raiders,456,401,11,0.532,1960,868,AFC West
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East
10,11,Indianapolis Colts,502,441,7,0.532,1953,950,AFC South
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North

### Ejercicio 15

Vamos a ejercitar algunas de las funcionalidades que nos ofrecen los data frames, para ello resuelve los siguientes ejercicios:

* Carga el data set contenido en el fichero ``GlobalLandTemperatures_GlobalLandTemperaturesByMajorCity_jgx.csv`` y almacenalo en la variable ``df_climate1``.

* Emplea un método del dataframe para conocer su tamaño.

* Obtén los nombres de las variables del data frame.

* Visualiza las 6 primeras muestras del data frame.

* Elimina la primera columna del data frame.

* Elimina en aquellas muestras que no estén completas (contengan datos ausentes NaN).

* Visualiza las 6 últimas muestras del data frame.

* Crea una copia de ``df_climate1`` en un nuevo data frame denominado ``df_climate3`` que apunte a un objeto en memoria diferente. 

* Crea un nuevo data frame denominado ``df_climate3_country`` a partir de ``df_climate3`` que contenga las muestras climáticas correspondientes a la ciudad de Xian.

* Convierte la variable ``dt`` en una variable de tipo ``datetime`` con formato "%Y-%m-%d".

* Obtén los estadísticos descriptivos de las variables numéricas del dataframe ``df_climate3`` (media, min, max, cuartiles 1 2 y 3, etc..).


* Crea un nuevo dataframe denominado ``df_climate4`` a partir de una copia de ``df_climate3`` y cuyo índice (nombre de la muestra) esté constituído por los valores de la variable ``dt``. 

* Elimina las muestras del data frame ``df_climate4`` anteriores a la fecha "1900-1-2".

* Crea un dataframe denominado ``df_climate_80s`` con las muestras del data frame correspondientes a los años 80.

In [2]:
df_climate1 = pd.read_csv("GlobalLandTemperatures_GlobalLandTemperaturesByMajorCity_jgx.csv")

In [3]:
df_climate1.shape

(239177, 8)

In [4]:
df_climate1.columns

Index(['Unnamed: 0', 'dt', 'AverageTemperature',
       'AverageTemperatureUncertainty', 'City', 'Country', 'Latitude',
       'Longitude'],
      dtype='object')

In [5]:
df_climate1.head(6)

,Unnamed: 0,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W
1,1,1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63N,3.23W
2,2,1849-03-01,28.101,1.612,Abidjan,Côte D'Ivoire,5.63N,3.23W
3,3,1849-04-01,26.140,1.387,Abidjan,Côte D'Ivoire,5.63N,3.23W
4,4,1849-05-01,25.427,1.200,Abidjan,Côte D'Ivoire,5.63N,3.23W
5,5,1849-06-01,24.844,1.402,Abidjan,Côte D'Ivoire,5.63N,3.23W

In [6]:
df_climate1.drop(columns = df_climate1.columns[0], inplace = True)
df_climate1.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W
1,1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63N,3.23W
2,1849-03-01,28.101,1.612,Abidjan,Côte D'Ivoire,5.63N,3.23W
3,1849-04-01,26.140,1.387,Abidjan,Côte D'Ivoire,5.63N,3.23W
4,1849-05-01,25.427,1.200,Abidjan,Côte D'Ivoire,5.63N,3.23W

In [7]:
df_climate1.dropna(inplace = True)
print(df_climate1.shape) #Como vemos, se han eliminado bastantes filas
df_climate1.head()

(228175, 7)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W
1,1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63N,3.23W
2,1849-03-01,28.101,1.612,Abidjan,Côte D'Ivoire,5.63N,3.23W
3,1849-04-01,26.140,1.387,Abidjan,Côte D'Ivoire,5.63N,3.23W
4,1849-05-01,25.427,1.200,Abidjan,Côte D'Ivoire,5.63N,3.23W

In [8]:
df_climate1.tail(6)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
239170,2013-03-01,10.110,0.480,Xian,China,34.56N,108.97E
239171,2013-04-01,12.563,1.823,Xian,China,34.56N,108.97E
239172,2013-05-01,18.979,0.807,Xian,China,34.56N,108.97E
239173,2013-06-01,23.522,0.647,Xian,China,34.56N,108.97E
239174,2013-07-01,25.251,1.042,Xian,China,34.56N,108.97E
239175,2013-08-01,24.528,0.840,Xian,China,34.56N,108.97E

In [9]:
df_climate3 = df_climate1.copy()

In [10]:
df_climate3_country = df_climate3[df_climate3["City"] == "Xian"]
df_climate3_country.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
236859,1820-08-01,20.683,2.218,Xian,China,34.56N,108.97E
236860,1820-09-01,16.879,1.712,Xian,China,34.56N,108.97E
236861,1820-10-01,9.787,1.713,Xian,China,34.56N,108.97E
236862,1820-11-01,3.184,1.752,Xian,China,34.56N,108.97E
236863,1820-12-01,-2.781,2.022,Xian,China,34.56N,108.97E

In [11]:
df_climate3_country["dt"] = pd.to_datetime(df_climate3_country["dt"], format="%Y-%m-%d")
df_climate3_country.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
236859,1820-08-01,20.683,2.218,Xian,China,34.56N,108.97E
236860,1820-09-01,16.879,1.712,Xian,China,34.56N,108.97E
236861,1820-10-01,9.787,1.713,Xian,China,34.56N,108.97E
236862,1820-11-01,3.184,1.752,Xian,China,34.56N,108.97E
236863,1820-12-01,-2.781,2.022,Xian,China,34.56N,108.97E

In [12]:
df_climate3_country.dtypes

dt                               datetime64[ns]
AverageTemperature                      float64
AverageTemperatureUncertainty           float64
City                                     object
Country                                  object
Latitude                                 object
Longitude                                object
dtype: object

In [13]:
df_climate3.describe()

       AverageTemperature  AverageTemperatureUncertainty
count       228175.000000                  228175.000000
mean            18.125969                       0.969343
std             10.024800                       0.979644
min            -26.772000                       0.040000
25%             12.710000                       0.340000
50%             20.428000                       0.592000
75%             25.918000                       1.320000
max             38.283000                      14.037000

In [14]:
df_climate4 = df_climate3.copy()
df_climate4.set_index("dt", inplace = True)
df_climate4.head()

,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
dt,,,,,,
1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W
1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63N,3.23W
1849-03-01,28.101,1.612,Abidjan,Côte D'Ivoire,5.63N,3.23W
1849-04-01,26.140,1.387,Abidjan,Côte D'Ivoire,5.63N,3.23W
1849-05-01,25.427,1.200,Abidjan,Côte D'Ivoire,5.63N,3.23W

In [21]:
cuac = df_climate4.loc[df_climate4.index>"1900-01-02"]
print(cuac.shape)
cuac.head()

(136307, 6)

,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
dt,,,,,,
1900-02-01,27.816,0.789,Abidjan,Côte D'Ivoire,5.63N,3.23W
1900-03-01,28.395,1.296,Abidjan,Côte D'Ivoire,5.63N,3.23W
1900-04-01,27.706,0.501,Abidjan,Côte D'Ivoire,5.63N,3.23W
1900-05-01,26.753,0.458,Abidjan,Côte D'Ivoire,5.63N,3.23W
1900-06-01,25.180,0.733,Abidjan,Côte D'Ivoire,5.63N,3.23W

In [20]:
df_climate_80s = df_climate4.loc[(df_climate4.index>'1980-01-01') & (df_climate4.index<'1990-01-01')]
print(df_climate_80s.shape)
df_climate_80s.head()

(11900, 6)

,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
dt,,,,,,
1980-02-01,28.192,0.358,Abidjan,Côte D'Ivoire,5.63N,3.23W
1980-03-01,28.303,0.430,Abidjan,Côte D'Ivoire,5.63N,3.23W
1980-04-01,28.284,0.223,Abidjan,Côte D'Ivoire,5.63N,3.23W
1980-05-01,26.709,0.383,Abidjan,Côte D'Ivoire,5.63N,3.23W
1980-06-01,25.913,0.295,Abidjan,Côte D'Ivoire,5.63N,3.23W